body {
    margin: 0px;
    padding: 0px;
    background: url(./images/bg.jpg) no-repeat;
    width: 1003px;
}

nav {
    float: left;
    width: 920px;
    height: 40px;
    background: url(./images/nav.jpg);
    margin: 100px 0px 0px 0px;
    padding: 0px;
}

nav ul {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 920px;
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    float: left;
    padding: 11px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    outline: NONE;
    background: url(./images/templatemo_menu_divider.png) center right no-repeat;
}

nav ul li a:hover {
    color: #2a5f00;
}